[submodule "losses/losses/pytorch-metric-learning"]
	path = losses/losses/pytorch-metric-learning
	url = https://github.com/KevinMusgrave/pytorch-metric-learning.git
[submodule "processing/torch-audiomentations"]
	path = processing/torch-audiomentations
	url = https://github.com/asteroid-team/torch-audiomentations.git
