accuracy
HyperPyYAML
matplotlib
numpy
onnx
onnxruntime
packaging
pandas
psutil
pydub
scipy
seaborn
SoundFile
torch
torchaudio
torchsummary
tqdm
webrtcvad

torchvision
rich
PyYAML
scikit-learn
requests
setuptools