accuracy==0.1.1
HyperPyYAML==1.0.1
matplotlib==3.4.3
numpy==1.19.5
onnx==1.12.0
onnxruntime==1.10.0
packaging==21.3
pandas==1.4.2
psutil==5.9.1
pydub==0.25.1
pytorch_metric_learning==1.5.2
scikit_learn==1.1.2
scipy==1.7.1
seaborn==0.11.2
SoundFile==0.10.3.post1
torch==1.10.1+cu113
torchaudio==0.10.1+cu113
torchsummary==1.5.1
tqdm==4.62.3
webrtcvad==2.0.10
